body{
    background: #000;
}
h1{
    color: white;
    font-weight: 500;
    font-size: xx-large;
}
.h2{
    color: white;
    font-weight: 500;
    font-size: xx-large;
}
#h3{
    color: white;
    font-weight: 500;
    font-size: xx-large;
}